.table-striped{
    .producto{
        width: 40%;
    }
    .precio{
        width: 20%;
    }
    .cantidad{
        width: 15%;
    }
    .subtotal{
        width: 15%;
    }
    .accion{
        width: 10%;
    }
}