/* inputs */
form {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

input {
    background: #f2f2f2;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    outline: none;
}